[Desktop Entry]
Icon=redshift
Name=Redshift Scheduler
Comment=Adjusts screen color temperature according to your own rules controlling redshift
Exec=redshift-scheduler
Terminal=false
Type=Application
Category=Utility;
